.contact-center-box:hover h3 a,
.inner-servide-pad h3 a,
.only-paragraph a,
.soft-flat-products .media-object a:hover,
.tab-broke p a,
.terms a,
.whitecolor a {
    text-decoration: underline;
}
.contact-banner {
    background-image: url(/images/inner-banner/contact-banner.webp);
    display: flex;
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-columns: 100%;
    --bg-overlay-color: rgb(var(--color_36));
    --bg-gradient: none;
    --fill-layer-image-opacity: 0.17;
    position: relative;
    padding-bottom: 5%;
    background-size: cover;
    margin-top: 0;
    background-position: center;
}
#successStories .read-mortgage,
.btm-case-studies .services-box:hover p,
.client-head h2,
.client-success-stories h2,
.color-brand,
.financial-user h2,
.flat-advantage .media-object p a:hover,
.global-box-back h2,
.mort-txt-red,
.page-testimonial h2,
.services-addtional h2,
.services-box .services-box-content ul li a:hover,
.software-videos h1 span,
.success-stories h2,
.video-holder p,
.videos-code1 h2 {
    color: #b70000;
}
.contact-banner:before {
    content: "";
    background-color: #0c0b11;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.7;
}
.contact-banner .text-center {
    z-index: 9;
    padding: 4% 0 0;
}
.contact-form .form-control,
.contact-form .form-select {
    display: block;
    padding: 10px 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--bs-form-control-bg);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}
.contact-banner .banner-icon {
    z-index: 9;
}
.contact-banner svg {
    fill: #b70000;
    width: 26px;
    height: 22px;
    margin-right: 10px;
}
.contact-banner h1 {
    font-family: Parrish, sans-serif;
    color: #ebe6e6;
    padding-bottom: 14px;
    padding-top: 1%;
}
.contact-banner p {
    font-family: Rubik-Light, sans-serif;
    color: #fff;
    font-size: 17px;
}
.banner-border {
    background-color: rgba(var(--clr, var(--color_15)), var(--alpha-clr, 1));
    border-radius: 7px;
    box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.25);
    height: var(--lnw, 6px);
    min-height: 2px;
}
.contact-address,
.contact-form {
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.2));
}
.contact-form {
    border-radius: var(--rd, 5px);
    padding: 41px 4% 5%;
    background-color: #fff;
    margin-bottom: 28px;
}
.contact-form .form-control {
    color: var(--bs-body-color);
    background-clip: padding-box;
    border: var(--bs-border-width) solid #cacaca;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
}
.contact-form .form-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns=http://www.w3.org/2000/svg viewBox=0 0 16 16%3e%3cpath fill=none stroke=%23343a40 stroke-linecap=round stroke-linejoin=round stroke-width=2 d=m2 5 6 6 6-6/%3e%3c/svg%3e);
    -moz-padding-start: calc(0.75rem - 3px);
    color: #696e72;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid #cacaca;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-add-enquiry {
    padding: 0 0 1%;
    display: flex;
    background: url("/images/con-form-bg.webp") 0 0 / cover no-repeat #f5f5f5;
}
.space20 hr {
    color: #aba2a2;
}
.form-add-enquiry .breadcrumbs {
    margin-bottom: 18px;
    padding: 0;
}
.form-add-enquiry .breadcrumbs li:first-child {
    padding-left: 0;
}
.form-add-enquiry h3 {
    font-family: Parrish, sans-serif;
    color: #b70000;
    margin-top: 0;
}
.contact-testimonial,
.contact-testimonial h1,
.form-add-enquiry p,
.terms {
    font-family: Rubik-Light, sans-serif;
}
.btn-submit {
    background: #b70000;
    color: #fff;
    padding: 8px 30px;
    font-size: 15px;
    border-radius: 0;
}
.btn-submit:hover {
    background: #191919;
    color: #fff;
}
.terms {
    margin-bottom: 0;
    font-size: 12px;
}
.space20 {
    height: 15px;
}
.space30 {
    height: 20px;
}
#ph-form-text {
    background: #efefef;
    padding: 15px;
    margin: 10px 0;
    font-size: 13px;
}
#ph-form-text a span {
    margin-left: 5px;
    color: #b70000;
    display: inline-block;
}
#ph-form-text a span:hover,
.con-form .call-us span {
    color: #212529;
}
.career-panel {
    background: #183587;
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.career-panel p {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}
.career-panel:hover {
    background: #0b2363;
}
#btm-key-differentiators .content-panel a.btm-active i,
#btm-key-differentiators .content-panel a.btm-active span,
#btm-key-differentiators .content-panel a:hover,
#btm-key-differentiators .content-panel a:hover i,
#btm-key-differentiators .content-panel a:hover span,
#btm-key-differentiators.open-source h2,
.advantage-back .media-object p,
.advantage-back p,
.career-panel p:hover,
.custom-broke-icon:hover .flex-shrink-0 i,
.data-support p,
.global-fws h1 {
    color: #fff;
}
.contact-address p {
    margin-bottom: 0;
    font-size: 14px;
}
.contact-address svg {
    fill: #b70000;
    margin-right: 15px;
}
.contact-address {
    border-radius: var(--rd, 5px);
    padding: 8% 7%;
    background-color: #fff;
    height: 97%;
}
.contact-testimonial {
    background-color: #b70000;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}
.contact-testimonial h1 {
    font-size: 78px;
    margin-bottom: 0;
    line-height: initial;
    font-weight: 300;
    color: #000;
    height: 81px;
}
.contact-clients h3,
.map-code h3,
.map-code-country span {
    font-family: Parrish, sans-serif;
}
.contact-clients,
.services-we-offer {
    background-color: #f5f5f5;
    padding: 50px 0;
}
.services-we-offer .service-list > div {
    background: #ffffff;
    margin-bottom: 20px;
    border-right: 10px solid #f5f5f5;
}
.contact-clients h3 {
    color: #b70000;
    text-align: center;
}
.contact-clients img {
    vertical-align: middle;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0 0 0 #000;
    position: static;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contact-clients .row,
.customs-brokerage .row {
    vertical-align: middle;
    align-items: center;
}
.butn,
.butn:visited {
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: Rubik-Light;
    text-decoration: none;
    background-color: #b70000;
    background-image: linear-gradient(90deg, #b70000, #d32121);
    padding: 7px 15px 8px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.butn.gray,
.butn:visited {
    background-color: #555;
    background-image: linear-gradient(90deg, #555, #695959);
}
.butn::after,
.butn::before {
    background: #fff;
    opacity: 0;
    top: -50px;
    transform: rotate(35deg);
    transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    content: "";
}
.butn::before {
    height: 155px;
    width: 50px;
}
.butn::after {
    height: 20rem;
    width: 8rem;
}
.butn__new::before {
    left: -50%;
}
.butn__new::after {
    left: -100%;
}
.butn:active,
.butn:hover {
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.butn__new:hover::before {
    left: 120%;
    opacity: 0.5s;
}
.butn__new:hover::after {
    left: 200%;
    opacity: 0.6;
}
.butn span {
    z-index: 20;
}
.map-code {
    padding: 30px 0 0;
}
.map-code h3 {
    color: #b70000;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
}
.inner-banner-two-head::after,
.map-code-country::after {
    content: "";
    background: #b70000;
    height: 4px;
    display: block;
    width: 29px;
    position: relative;
    bottom: 3px;
    border-radius: 10px;
    left: -2px;
}
.map-code-country span {
    border-bottom: 1px solid #999;
    display: block;
    width: 30%;
}
.row-margin,
.row-space-mobile .row {
    margin: 0;
}
.get-quote {
    background-color: #b70000;
    margin-top: -4%;
    position: relative;
    z-index: 9;
    padding: 28px 20px 20px;
    border-radius: 5px;
}
.get-quote .form-control {
    background: #fff;
    border: 0;
    padding: 8px 15px;
}
.get-quote h2 {
    color: #fff;
    border-right: 3px solid #f89213;
    margin-bottom: 20px;
}
.get-quote p {
    color: #fff;
    padding-top: 6px;
}
.get-quote textarea {
    height: 35px;
    margin-bottom: 20px;
}
.contact-about-center {
    padding: 16px 0 40px !important;
}
.inner-servide-pad {
    padding: 15px 20px 12px;
}
.general-img {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}
.con-form .call-us h2 {
    font-size: 20px;
    color: #b70000;
}
.contact-address .icon-square i {
    color: #9b9b9b;
}
.upload-button-wrap {
    width: 100%;
    display: block;
}
.MultiFile-wrap .info {
    font-size: 12px;
    display: block;
    position: relative;
    top: 7px;
    font-style: italic;
    color: #a19a9a;
}
.MultiFile-list {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.MultiFile-label {
    padding-top: 7px;
    border-bottom: 1px dashed #ccc;
    font-size: 11px;
    padding-bottom: 2px;
    margin-bottom: 6px;
}
.MultiFile-remove {
    float: right;
}
.MultiFile-label span {
    color: #333 !important;
    word-break: break-all;
    word-spacing: normal;
    white-space: normal;
    font: 13px Arial !important;
}
.health-bpo h4,
.how-work h4 {
    font-family: Parrish, sans-serif;
}
.MultiFile-remove img {
    display: none;
}
.MultiFile-remove:after {
    content: "\f2ed";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #b70000;
}
.software-circle {
    background: #f5f5f5;
    border-radius: 58px 50px 50px 58px;
    align-items: center;
    margin: 0 8px 30px;
    position: relative;
}
.software-circle:hover {
    z-index: 999;
    margin: 0 8px 30px;
}
.software-circle .circle-list h4 {
    margin-bottom: 4px;
    color: #fd5f42;
}
.software-circle i {
    margin-right: 20px;
    border-radius: 50% 0 50px;
    background: #fd5f42;
    border-bottom: 5px solid #e1563a;
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    align-items: center;
    padding: 38px;
    width: 106px;
}
.btm-case-studies ul li,
.how-work li {
    width: 19%;
    display: inline-block;
    vertical-align: top;
}
.software-circle .circle-list {
    padding: 10px 10px 10px 0;
}
.software-circle .circle-list p {
    margin-bottom: 0;
    line-height: 1.5;
}
.software-lifecycle {
    background: #ddd;
    padding: 50px 0 40px;
}
.case-study h3,
.flatworld-advantage h2,
.intell-automation-about h2,
.outsource-services h2,
.software-lifecycle h2 {
    color: #b70000;
    margin-bottom: 10px;
}
.icon22 {
    background: #e87914 !important;
    border-bottom: 5px solid #bf6614 !important;
}
.icon33 {
    background: #bd700a !important;
    border-bottom: 5px solid #7b4d0f !important;
}
.flatworld-advantage,
.pad-20 {
    padding: 20px 0;
}
.soft-flat-products {
    background: #b70000;
    padding: 50px 0;
    color: #fff;
}
.advantage-back .media-object img,
.soft-flat-products .media-object img,
.success-stories .media-object img {
    width: 18px;
    background: #fff;
    padding: 2px;
    box-shadow: 1px 2px 15px #fff;
}
.soft-flat-products .media-object {
    display: flex !important;
    background: #9f0d0d;
    padding: 17px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px dashed #fff;
    height: 80%;
    align-items: center;
}
.contact-center-box p,
.custom-broke-icon p,
.margin-0,
.outsource-process .inner-media p,
.outsource-process1 .inner-media p,
.soft-flat-products .media-object p,
.success-stories .media-object p,
.tab-broke p {
    margin-bottom: 0;
}
.soft-flat-products .media-object p a:hover {
    color: #f5f5f5;
}
.success-stories {
    padding: 50px 0;
    background: #fff;
}
.success-stories .row {
    align-items: flex-start;
}
.success-stories .media-object {
    background: #f5f5f5;
    padding: 17px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px dashed #b70000;
}
#successStories .row,
.flatworld-advantage .row,
.row-align-center {
    align-items: center;
}
.info-email {
    width: 64%;
    opacity: 0.8;
}
.con-form h3,
.text-size {
    font-size: 20px;
}
.contact-email {
    color: #b70000;
    font-size: 25px;
}
.financial-user {
    padding: 50px 0 40px;
    background-color: #f5f5f5;
}
.financial-user img {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.morgage-services {
    padding: 60px 0 40px;
}
.videos-mortgage {
    background-color: #fff !important;
}
.cc-banner .how-work i {
    background-color: #b70000;
    color: #ffff;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 23px 10px;
    margin-bottom: 8px;
    font-size: 28px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px #7b7777;
    border: 0 solid #fff;
}
.how-work {
    overflow: hidden;
    display: table;
    table-layout: fixed;
    padding: 0;
    width: 100%;
}
.how-work li {
    padding: 25px 10px 25px 20px;
    border-radius: 5px;
    border: 1px solid #b70000;
    text-align: center;
    height: 100%;
    margin: 5px;
}
#icons-stripe-box-layout .img-box,
#icons-stripe-box-layout1 .img-box {
    border: none;
    margin: 1% 0;
    display: block;
    box-shadow: none;
    float: left;
}
.how-work h4 {
    margin: 13px 0 0;
}
.advantage-back .media-object,
.client-succ p,
.inner-media,
.ser-inn h2 {
    margin-bottom: 10px;
}
#successStories h2,
.client-succ,
.effect-code1,
.full-scale .img-fluid,
.margin-btm-20 {
    margin-bottom: 20px;
}
.client-succ h4,
.margin10 {
    margin-bottom: 7px;
}
.video-name {
    padding: 8px 15px 0 !important;
    font-weight: 600 !important;
}
.video-con {
    padding-bottom: 10px !important;
}
.videos-code1 {
    padding: 50px 0 !important;
    background: #f5f5f5 !important;
}
.space8 {
    height: 8px;
}
#icons-stripe-box-layout,
#icons-stripe-box-layout1 {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
#icons-stripe-box-layout .img-box {
    width: auto !important;
    text-align: center;
}
#icons-stripe-box-layout .img-box.healthcare img {
    width: 13%;
    padding: 7px;
    background-color: #fff;
}
#digital-photography-software .img-box img,
#icons-stripe-box-layout .img-box img {
    padding: 7px 13px;
    border: 1px solid #e0e0e0;
    margin: 6px 5px 6px 0;
    box-shadow: 0 6px 6px -7px #e6e6e6;
}
#digital-photography-software .img-box img:hover,
#icons-stripe-box-layout .img-box img:hover,
#icons-stripe-box-layout1 .img-box img:hover,
.certification img:hover,
.creative-popup img:hover {
}
#icons-stripe-box-layout1 .img-box img,
.creative-popup img {
    box-shadow: 0 6px 6px -7px #e6e6e6;
}
.outsource-data-support,
.software-healthcare {
    padding: 50px 0 35px;
}
.software-healthcare h2 {
    text-align: center;
    color: #b70000;
    margin-bottom: 15px;
}
.health-bpo h4 {
    font-weight: 400;
    margin-bottom: 5px;
    color: #b70000;
}
.data-support h2,
.inner-banner-two-head,
.outsource-data-support h2,
.services-box .services-box-content p {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
}
.read-mortgage i,
.ser-read-btn a i {
    font-size: 12px;
}
#icons-stripe-box-layout1 .creative {
    margin: 1% 0;
    text-align: center;
    display: block;
}
#icons-stripe-box-layout1 .img-box.healthcare img {
    width: 15.2%;
    padding: 5px;
}
#icons-stripe-box-layout1 .img-box img {
    border: 1px solid #e0e0e0;
    margin: 6px 10px 6px 0;
}
.creative-read,
.ser-read-btn a {
    color: #b70000;
    font-size: 14px;
}
.butn__new i,
.creative-read i {
    padding-left: 5px;
    font-size: 12px;
}
.non-count {
    font-size: 2rem;
    font-weight: 500;
}
.creative-count {
    padding: 40px 30px 20px !important;
}
.creative-count .col-md-4 {
    border-right: 1px dashed #333;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.data-support {
    background-color: #b70000;
    padding: 50px 0 35px;
}
.data-support h2 {
    color: #fff;
}
.full-scale {
    padding-bottom: 50px !important;
}
#data-client-success {
    padding-bottom: 50px;
    background-color: #f5f5f5;
    padding-top: 50px;
}
.image-editing img {
    width: 100% !important;
}
.icon44 {
    background-color: #912954 !important;
    border-bottom: 5px solid #701a3e !important;
}
.icon55 {
    background-color: #f0035e !important;
    border-bottom: 5px solid #af2157 !important;
}
.icon66 {
    background: #163276 !important;
    border-bottom: 5px solid #072162 !important;
}
.icon77 {
    background: #d50000 !important;
    border-bottom: 5px solid #a10b0b !important;
}
.icon88 {
    background: #149185 !important;
    border-bottom: 5px solid #1e776f !important;
}
.tech-leverage {
    background: url(/images/globe-new.webp) bottom no-repeat fixed, linear-gradient(to bottom, #eceffe 0, #fff 100%) bottom fixed;
    background-position-x: right;
}
.healthcare-banner,
.how-back-new {
    margin: 0;
    background-attachment: fixed;
}
.jacob-head {
    font-size: 28px;
}
.btn-icon,
.inner-media a i {
    font-size: 13px;
}
.healthcare-banner {
    padding: 5% 0;
}
.border-right-0 {
    border-right: 0px dashed #222 !important;
}
.page-hgt {
    height: 350px !important;
}
.top-pad-one {
    top: 0;
    right: 15%;
}
.top-pad-one1 {
    top: -7px;
    right: 5%;
}
.top-pad-one3 {
    bottom: 0;
    right: 40%;
    transform: rotate(180deg);
}
.pad-btm-0 {
    padding-bottom: 0 !important;
}
.pad-btm-35 {
    padding-bottom: 35px !important;
}
.how-back-new {
    padding: 50px 0;
}
.padd-full {
    padding: 35px 30px 30px;
}
.pad-btm-50 {
    padding-bottom: 50px;
}
.pad-top-0 {
    padding-top: 0 !important;
}
.btn-icon {
    padding-left: 10px;
}
.mil-p-120-120 .text-right,
.ser-read-btn {
    text-align: right;
}
.ani-txt4,
.animation-text1 {
    visibility: visible;
    animation-delay: 0.4s;
    animation-name: fadeIn;
}
.banner-correct {
    padding: 60px 0 50px;
    margin-top: 0 !important;
    background-attachment: fixed !important;
}
#service-hm-testimonials {
    visibility: visible;
    animation-delay: 0.4s;
    animation-name: fadeInDown;
}
.text-red {
    color: #b70000 !important;
}
.circle-txt1 {
    color: #e87914 !important;
}
.circle-txt2 {
    color: #bd700a !important;
}
.circle-txt04,
.circle-txt3 {
    color: #912954 !important;
}
.circle-txt4 {
    color: #f0035e !important;
}
.circle-txt05,
.circle-txt5 {
    color: #163276 !important;
}
.circle-txt09,
.circle-txt6 {
    color: #d50000 !important;
}
.circle-txt10 {
    color: #149185 !important;
}
.inner-media-back,
.our-services,
.outsource-services,
.services-advantage,
.services-info-section {
    padding: 50px 0 40px;
}
.services-box .services-box-content .banner {
    position: relative;
}
.our-services h2 {
    color: #b70000;
    margin-bottom: 25px;
    text-align: center;
}
.services-box {
    --bg-overlay-color: rgb(255, 255, 255);
    --bg-gradient: none;
    border: 1px solid rgba(193, 195, 197, 0);
    border-radius: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateZ(0);
    padding-bottom: 20px;
    height: 100%;
    z-index: 1;
}
.case-box,
.global-box {
    z-index: 9;
    position: relative;
}
.services-box .services-box-content {
    padding: 20px;
    margin-bottom: 43px;
    display: inline-flex;
}

.services-box .services-box-content h3 {
    color: #212529;
    margin-bottom: 5px;
    font-size: 20px;
}

.services-box .services-box-content h3 {
    color: #b70000;
    margin-bottom: 5px;
    font-size: 20px;
}
/*  .our-services.articles .services-box .services-box-content h3{color:#333333}*/
.services-box .services-box-content ul {
    padding-left: 30px;
}
.services-box .services-box-content ul li {
    margin-bottom: 5px;
    list-style: disc;
    font-weight: 300;
    font-family: Rubik-Light;
}
.services-box img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.services-box:hover img {
    -webkit-filter: grayscale(0);
    filter: none;
}
.how-back-mortgage {
    background: url(/images/inner-banner/call-center-services.webp) 0 0 / cover no-repeat fixed;
    padding-bottom: 70px;
    padding-top: 70px;
}
.back-gary,
.back-gray,
.flat-event-head {
    background-color: #f5f5f5;
}
.how-back-mortgage h2 {
    color: #fff;
    margin-bottom: 13px;
}
.how-back-mortgage .mortgage-how-box {
    background: rgb(191 7 7 / 65%);
    padding: 30px 20px 35px;
    height: 90%;
    border-radius: 10%;
    text-align: center;
    border: 5px solid #fff;
    color: #fff;
}
.how-back-mortgage .mortgage-how-box i {
    font-size: 35px;
    margin-bottom: 7px;
}
.pad-btm-client .client-succ {
    margin-bottom: 5px !important;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
    font-family: Rubik-Light;
}
.breadcrumb-item {
    font-family: Rubik-Light;
}
.company-overview .country img {
    padding-right: 7px;
}
.butn__new i {
    padding-top: 1px;
}
.flat-adn-back {
    padding: 50px 0 0;
}
.flat-adn-back h4,
.flat-advantage {
    padding-bottom: 10px;
}
.flat-adn-back img,
.trans-ads .col-xl-5 {
    padding-right: 40px;
}
#mortgage-disclaimer-footer span {
    font-family: Rubik-light;
}
.flat-advantage ul li {
    margin-bottom: 10px;
    list-style: disc;
    font-weight: 300;
    font-family: Rubik-Light;
}
.flat-advantage ul li a {
    transition: 0.5s;
    font-family: Rubik-Light;
}
.flat-advantage ul li a:hover {
    color: #b70000;
    transition: 0.9s;
    padding-left: 10px;
}
.flat-advantage .media-object {
    transition: 0.5s;
}
.case-box,
.global-box {
    transition: 0.4s ease-in-out;
}
.flat-advantage .media-object:hover {
    transition: 0.9s;
    padding-left: 10px;
    height: 100%;
}
.flat-advantage ul li::marker {
    color: #333;
}
.flat-advantage h3 {
    padding-left: 0;
    margin-left: -5px;
    color: #b70000;
    margin-bottom: 15px;
}
.flat-adn-back h4 {
    margin-left: 0;
    margin-bottom: 17px;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
}
.flat-advantage .mil-divider {
    margin: 15px 0;
}
.broke-box .broke-arrow,
.case-box .case-box-icon,
.global-box .case-box-icon {
    position: absolute;
    text-align: center;
    margin: 0 auto;
}
.flat-event-head {
    padding: 50px 0 30px;
}
.creative-popup {
    text-align: center;
}
.creative-popup img {
    border: 1px solid #e0e0e0;
    margin: 10px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition-property: transform;
    padding: 5px;
}
.certification img {
    border: 1px solid #ccc;
    padding: 10px;
    width: 85%;
    box-shadow: 0 6px 6px -7px #e6e6e6;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
#iso-certificaton2 {
    padding-top: 20px;
}
.pad-top-20 {
    padding-top: 20px !important;
}
.case-study,
.case-study-bg {
    background-color: #f5f5f5;
    padding: 20px 0 0;
}
.case-study,
.service-page-intro {
    padding-bottom: 30px;
}
.case-box {
    background: #fff;
    padding: 25px;
    border-radius: 0;
    border: 1px solid #ccc;
    border-left: 5px solid #b70000;
    transform: translateZ(0);
    margin: 0 20px 25px;
    height: 85%;
}
.case-box:hover
{
    margin-bottom: 0px !important;
}
.pad-top-30,
.pad-top-btm-30 {
    padding-top: 30px !important;
}

.broke-box:hover,
.case-box:hover,
.custom-broke-icon:hover,
.case-box p,
.global-box p {
    width: 100%;
    margin-bottom: 90px;
}
.global-box p 
{
    margin-bottom: 0px !important;
}
.pbmit-featured-wrapper img 
{
    width: 100% !important;
}
.case-box:hover .case-box-icon {
    background-color: #b70000;
    transition: 0.5s;
}
.case-box:hover 
{
    width: 100%;
}
.case-box:hover .case-box-icon i {
    color: #fff;
    transition: 0.5s;
}
.case-box .case-box-icon {
    right: -30px;
    background: #ababab;
    bottom: 31px;
    width: 61px;
    height: 60px;
    border-radius: 0;
}
.case-box .case-box-icon i {
    color: #333;
    font-size: 20px;
    margin: 20px 0;
    height: 100%;
}
.space31 {
    height: 30px;
}
.pad-top-btm-30 {
    padding-bottom: 30px !important;
}
.pad-top-btm-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.m-btm-10,
.margin-10 {
    margin-bottom: 10px !important;
}
.custom-broke-icon,
.global-box {
    margin: 0 0 25px;
    transform: translateZ(0);
}
.align-top {
    align-items: baseline !important;
}
.global-box-back,
.only-paragraph {
    padding: 50px 0 30px;
}
.global-box {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 0;
    border: 1px solid #ccc;
    border-left: 5px solid #b70000;
}
.global-box-back h4 {
    border-bottom: 1px solid #f0eaea;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.global-box:hover .case-box-icon,
.global-box:hover .case-box-icon i {
    color: #b70000;
    transition: 0.5s;
}
.global-box .case-box-icon {
    bottom: 0;
    border-radius: 0;
    right: 15px;
}
.global-box .case-box-icon i {
    color: #333;
    font-size: 14px;
    margin: 20px 0;
    height: 100%;
}
.image-style {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 5px;
}
.customs-brokerage {
    background-color: #efefef;
    padding: 110px 0 0;
}
.custom-broke-icon .flex-shrink-0 {
    flex-shrink: 0 !important;
    width: 70px;
    height: 70px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    background: #ababab;
}
.custom-broke-icon {
    background: #fff;
    transition: 0.4s ease-in-out;
    height: 80%;
    align-items: center;
}
.custom-broke-icon:hover .flex-shrink-0 {
    flex-shrink: 0 !important;
    width: 70px;
    height: 70px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    background: #b70000;
    transition: 0.4s ease-in-out;
}
.custom-broke-icon .flex-shrink-0 i {
    color: #333;
    font-size: 30px;
    margin: 25% 0;
}
.tab-nav1 {
    left: 0;
    transition: transform 0.4s;
    transform: translateX(0);
    position: relative;
    text-align: center;
    width: 100%;
    border-bottom: 0 solid transparent;
    margin-bottom: 0 !important;
}
.tab-broke nav {
    padding: 0;
}
.client-success-stories,
.faqs-page,
.intell-automation-about,
.tab-broke {
    padding: 50px 0;
}
.nav-tabs .nav-link.active,
.tab-broke .nav-tabs .nav-item.show .nav-link {
    color: #fff !important;
    background-color: #898585 !important;
    font-family: Parrish;
    font-size: 15px;
    font-weight: 600;
}
.tab-broke .nav-tabs .nav-link {
    margin-bottom: calc(-1 var(--bs-nav-tabs-border-width));
    background: #f4f3f3;
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
    color: #333;
    padding: 15px 20px 10px;
    letter-spacing: 1px;
    font-family: Parrish;
    font-size: 14px;
    margin-right: 1px;
    width: 33.23%;
    line-height: 20px;
    text-align: center;
}
.broke-box h4,
.faqs-page .accordion-body,
.faqs-page .accordion-button,
.page-testimonial h1 {
    font-family: Rubik-Light, sans-serif;
}
.tab-broke .nav-tabs .nav-link:hover {
    background: #b70000;
}
.tab-broke .nav-tabs .nav-link:hover,
.tab-broke nav .nav-link.active,
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .show > .nav-link {
    color: #333;
}
.broke-box {
    text-align: center;
    background: #fff;
    padding: 20px;
    margin-bottom: 90px;
    position: relative;
    transform: translateZ(0);
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}
.broke-box .broke-arrow {
    bottom: 0;
    width: 87%;
}
.broke-arrow i,
.broke-box .broke-icon {
    background: #fff;
    line-height: 80px;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    border-radius: 50%;
    top: -50px;
    position: absolute;
    left: 0;
    right: 0;
}
.broke-arrow i {
    color: #333 !important;
    padding: 9px 7px;
    font-size: 20px !important;
}
.broke-box h4 {
    margin-top: 17px;
    margin-bottom: 10px;
    height: 40px;
}
.broke-box i {
    font-size: 30px;
    color: #b70000;
}
.broke-box .broke-icon {
    font-size: 35px;
}
.advantage-back {
    padding: 70px 0 50px;
}
.advantage-back h2 {
    color: #fff;
    margin-bottom: 20px;
}
.advantage-back .media-object p a,
.full-scale .media-object p a {
    text-decoration: underline;
    transition: 0.5s;
}
.advantage-back .media-object p a:hover {
    text-decoration: none;
    color: #f5f5f5;
    transition: 0.9s;
}
.pad-50-30 {
    padding: 50px 0 30px !important;
}
.full-scale .media-object p a:hover {
    text-decoration: none;
    transition: 0.9s;
}
.only-paragraph a {
    color: #b70000;
}
.page-testimonial {
    padding: 50px 0;
    background: url(/images/world-map-dots.png) 0 -61px no-repeat, linear-gradient(to bottom, #eceffe 0, #fff 100%);
}
.page-testimonial h1 {
    font-size: 78px;
    margin-bottom: 0;
    line-height: initial;
    font-weight: 300;
    color: #000;
    height: 68px;
}
.page-testimonial .testimonial-content {
    font-size: 16px;
}
.soft-flat-products .media-object a:hover {
    color: #fff;
    transition: 0.9s;
}
.tab-broke p a {
    color: #b70000;
}
.tab-broke p a:hover {
    color: #333;
    text-decoration: none;
}
.pad-top-50 {
    padding-top: 50px !important;
}
.space50 {
    height: 50px;
}
.space5 {
    margin-bottom: 5px;
}
.trans-ads {
    padding: 35px 0 30px;
}
.trans-ads img {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 2px;
    transition: 0.2s;
}
.trans-ads img:hover {
    margin-bottom: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 2px;
    transition: 0.5s;
}
.row-align-start {
    align-items: flex-start !important;
}
.inner-banner-carousel .carousel-item {
    text-align: left !important;
}
.inner-banner-carousel .carousel-inner {
    height: 145px;
    width: 85%;
    margin: 0 auto;
}
.inner-servide-pad h3 a:hover {
    text-decoration: none;
}
.width-85 {
    width: 87%;
    margin: 0 auto;
}
.inner-banner-heading {
    text-align: left;
    color: #b70000;
    width: 85%;
    margin: 0 auto 15px;
}
.inner-banner-two-head span {
    font-family: Parrish, sans-serif;
    border-bottom: 1px solid #999;
    display: block;
    width: 12%;
}
.inner-media a,
.inner-media h3,
.white-color {
    font-family: Rubik-Light;
}
.inner-banner-two-head h4 {
    padding-bottom: 15px;
}
.services-inner-carousel li {
    margin: 5px 0;
    font-family: Rubik-Light;
}
.c-ins {
    justify-content: left !important;
    margin-left: 0 !important;
}
.carousel-control-prev,
.inner-services-carousel1 .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s;
}
.inner-media .rounded-circle,
.outsource-process1 .why-icon,
.why-icon {
    border-radius: 50% !important;
    width: 75px;
    margin-right: 1px;
}
.inner-media h3 {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}
.inner-media a {
    color: #b70000;
}
.border-left {
    border-left: 5px solid #ff9c35;
    padding-left: 30px;
}
.white-color {
    color: #fff;
    margin-bottom: 5px;
    font-size: 19px;
}
.intell-automation-about img {
    margin-bottom: 20px;
    border-radius: 5px;
    width: 90%;
}
.outsource-process1 .why-icon,
.why-icon {
    background-color: #00abe6;
    height: 75px;
    text-align: center;
}
.why-icon i {
    color: #ffff;
    margin: 23px 0;
    font-size: 27px;
}
.intell img {
    width: 100%;
}
.faqs-page-head {
    color: #b70000;
    margin-bottom: 30px;
    text-align: center;
}
.faqs-page .accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    line-height: 25px;
    padding: 20px;
}
.faqs-page .accordion-button:not(.collapsed) {
    color: #333;
    background-color: #f5f5f5;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    font-size: 16px;
    font-family: Rubik-Light, sans-serif;
    font-weight: 600;
}
.faqs-page .accordion-button {
    color: #333;
    background-color: #fff;
    box-shadow: none;
    font-size: 15px;
    border-bottom: 0;
}
.services-info-section h2,
.services-we-offer h2 {
    margin-bottom: 10px;
    color: #b70000;
}
.services-addtional {
    background-color: #f5f5f5;
    padding: 50px 0 40px;
}
.contact-center-box img {
    max-width: 100%;
    height: auto;
    margin-right: 15px;
    border-radius: 2px;
    border: 1px solid #efecec;
    padding: 2px;
    margin-bottom: 5px;
}
.contact-center-box:hover {
    transition: 0.9s;
    border-width: 10px;
}
.contact-center-box {
    background-color: #fff;
    padding: 15px ;
    position: relative;
    margin-bottom: 20px;
}
.contact-center-box:hover:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 4px solid #b70000;
    animation: 1s linear forwards border_anim;
}
@keyframes border_anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.contact-center-box h3 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
}
.contact-center-box .align-items-end {
    text-align: right;
    margin-top: 10px;
}
.contact-center-box .align-items-end a {
    color: #b70000;
    font-size: 15px;
    font-family: Rubik-Light;
}
.contact-center-box .align-items-end a i {
    font-size: 13px;
    margin-left: 5px;
}
.outsource-process,
.outsource-process1 {
    background: #f5f5f5;
    padding: 50px 0 30px;
}
.outsource-process .why-icon {
    border-radius: 50% !important;
    width: 75px;
    margin-right: 1px;
    background-color: #bdbebf;
    height: 75px;
    text-align: center;
}
.outsource-process .why-icon i {
    color: #686363;
    margin: 23px 0;
    font-size: 27px;
}
.outsource-process .inner-media,
.outsource-process1 .inner-media {
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #9fa6a8;
    padding: 10px;
    border-radius: 50px;
    align-items: center;
}
.outsource-process .inner-media:hover .why-icon,
.outsource-process1 .inner-media:hover .why-icon {
    border-radius: 50% !important;
    width: 75px;
    margin-right: 1px;
    background-color: #b70000;
    height: 75px;
    text-align: center;
    transition: 0.9s;
}
.outsource-process .inner-media:hover .why-icon i,
.outsource-process1 .inner-media:hover .why-icon i {
    color: #fff;
    margin: 23px 0;
    font-size: 27px;
    transition: 0.9s;
}
.pb-50 {
    padding-bottom: 40px;
}
.outsource-process1 .why-icon i {
    color: #fff;
    margin: 23px 0;
    font-size: 27px;
}
.why-icon .badge-count {
    color: #fff;
    position: relative;
    top: -7px;
    font-family: Rubik-Light;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
}
.ser-inn .media-object img {
    width: 16px;
    background: #fff;
    padding: 3px;
    box-shadow: 1px 2px 15px #fff;
}
.why-icon .bg-danger {
    --bs-bg-opacity: 1;
    background-color: #1b3d70 !important;
    border-radius: 50%;
    height: 27px;
    font-size: 15px;
    width: 27px;
    top: 10px !important;
    left: 63px !important;
    font-weight: 700;
}
.border-space {
    height: 20px;
    border-top: 1px dashed #bcbcbc;
    margin-bottom: 15px;
    margin-top: 10px;
}
#btm-key-differentiators {
    background: #fff;
    padding: 50px 0;
}
#btm-key-differentiators.open-source {
    background: #3e495a;
}
#btm-key-differentiators h2 {
    color: #b70000;
    text-align: center;
    font-family: Parrish;
    margin-bottom: 20px;
}
#btm-key-differentiators h2 a {
    font: 39px Myriad W01 Regular !important;
}
#btm-key-differentiators .content-panel {
    margin: 20px auto 0;
    text-align: left;
}
#btm-key-differentiators .content-panel a {
    width: 100%;
    background: #fff;
    text-align: center;
    height: auto;
    margin: 10px 0 10px auto;
    max-width: 100%;
    padding: 22px 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 1px 2px 1px 3px #efefef;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#btm-key-differentiators .content-panel a span {
    display: inline-block;
    width: 74%;
    text-align: left;
    position: relative;
    font-family: Rubik-Light;
    font-size: 15px;
}
#btm-key-differentiators .content-panel a.two-lines {
    padding: 44px 11px;
}
#btm-key-differentiators .content-panel a i {
    color: #565656;
    font-size: 2.1rem;
    display: inline-block;
    margin-bottom: 0;
    width: 25%;
}
#btm-key-differentiators .content-panel a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#btm-key-differentiators .content-panel a:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
#btm-key-differentiators .content-panel a.btm-active {
    background: #2098d1;
    color: #fff;
}
.contact-clients h2 {
    text-align: center;
    color: #b70000;
}
.btm-case-studies ul li {
    list-style-image: none;
    list-style-type: none;
    margin: 2px 7px 6px 0;
    height: 97%;
    padding: 0 5px;
}
.btm-case-studies .services-box {
    background-color: #fff;
    border-left: 5px solid #b70000;
    display: flex;
}
.btm-case-studies .services-box img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    width: 400px;
    height: 200px;
    display: none;
}
.btm-case-studies .services-box:hover img {
    -webkit-filter: grayscale(0);
    filter: none;
}
.call-philiphines {
    background-image: url(/images/call-center-philippines.jpg);
    padding: 100px 0 70px;
    background-size: cover;
}
#digital-photography-software .img-box {
    box-shadow: none;
    border: none;
    width: 100% !important;
    margin: 1% 0;
    float: left;
    display: block;
}
#digital-photography-software .img-box.healthcare img {
    width: 13%;
    padding: 13px;
    background-color: #fff;
}
#successStories .row {
    align-items: start !important;
}
